body, html {
    height: 100%;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  color: #444444;
}

a {
  color: #3b4ef8;
  text-decoration: none;
}

a:hover {
  color: #6c7afa;
  text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: auto;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
header
{
 height: 100vh;
 background-image:linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)
    ),url("../img/limg.jpg");
 /* flex-box thing */
 display: flex;
 flex-direction: column;
 justify-content: center;
 background-size: cover;
}

.header-title{
  margin-top: 0px !important;
  margin-right: 5%;
  color: #fff;
  font-size:50px;
}
.header-discription{
  margin-top: 0px !important;
  margin-right: 5%;
  color: #fff;
  font-size:40px;
}

.header-button {
  margin-right: 5%;
  width: 150px;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f6f8fb;
}

.section-title {
  text-align: center;
  padding-bottom: 0px;
}

.section-title h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #2d405f;
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #aabbd7 !important;
  bottom: 0;
  left: calc(50% - 25px);
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services {
  background: #fff;
  padding-bottom: 80px;
  padding-top: 30px;
  justify-content: center !important;
}

.services .section-title h2, .services .section-title p {
  color: #005073;
}

.services .section-title h2::after {
  background: rgba(255, 255, 255, 0.2);
}

.services .icon-box {
  padding: 50px 30px;
  position: relative;
  overflow: hidden;
  background:#71c7ec;
  transition: all 0.3s;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center !important;
}

.services .icon-box:hover {
  transform: scale(1.08);
}

.services .icon {
  margin-bottom: 15px;
}

.services .icon i {
  font-size: 32px;
  line-height: 1;
  color: #2d405f;
  background: #eff2f8;
  padding: 20px;
  border-radius: 50px;
  transition: all 0.3s;
}

.services .title {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 18px;
}

.services .title a {
  color: #2d405f;
  transition: 0.3s;
}

.services .title a:hover {
  color: #4e6fa4;
}

.services .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}

@media only screen and (max-width: 990px) {
  header
  {
    height: 100vh;
    background: 
    linear-gradient(
          rgba(0, 0, 0, 0.6), 
          rgba(0, 0, 0, 0.6)
        ),url("../img/limg.jpg");
    /* flex-box thing */
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover; 
  }
  .contact .php-email-form {
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 30px;
    background: #fff;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info-box {
  color: #2d405f;
  text-align: center;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 20px 0 30px 0;
  background: #fff;
}

.contact .info-box i {
  font-size: 32px;
  color: #3b4ef8;
  padding: 8px;
}

.contact .info-box h3 {
  font-size: 20px;
  color: #777777;
  font-weight: 700;
  margin: 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.contact .php-email-form {
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 30px;
  background: #fff;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40rem;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 5px;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
  border-color: #8ea5ca;
}

.contact .php-email-form input {
  padding: 10px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type="submit"] {
  background: #3b4ef8;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 5px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #0a22f6;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 990px) {
  header
  {
    height: 100vh;
    background: 
    linear-gradient(
          rgba(0, 0, 0, 0.6), 
          rgba(0, 0, 0, 0.6)
        ),url("../img/limg.jpg");
    /* flex-box thing */
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover; 
  }
  .contact .php-email-form {
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 30px;
    background: #fff;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }
}